.seat-picker {
    display: grid;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
    color: saddlebrown;
}

.seat {
    line-height: 52px;
    margin: 1px;
    width: 50px;
    height: 50px;
}

.seat:not(.unavailable) {
    cursor: pointer;
}

.seat:not(.unavailable):hover {
    border-style: solid;
    border-color: purple;
}

.seat.separated {
    margin-left: 10px;
}

.seat.unavailable {
    background-color: grey;
}

.seat.selected {
    background-color: darkorange;
}

.seat.available {
    background-color: rgb(84, 173, 72);
}